/* ToDo:
    - bigShopView Grundpreis 500g 300g 250g configuration
    - Size SliderShow: Desktop, mobile and tabette Viewport configuration
    */
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
html{
    padding: 2px;
}
/*body{
    background-image: url('../image/bodyBackground.jpg');
    background-position: center;
    background-size: cover;
}*/
/*.navFirstHeader{

    background: white;

}*/
ul {
    list-style-type: none;
    padding: 0%;
}
ul, p, .bigShopViewDetails p, h1, h2, h3, h4, .buttonWeight, nav li, .foodCategoryChoice{
    font-family: 'Alatsi', sans-serif;
    
}
.navSecondHeader{

    color: black;
}
a {
    color: black;
}
#ulElementAnmelden{
    color: #f8a11f;
}
.logoImageHeader{
    z-index: 1111;
    width: 100px;
    height: 100px;
    background-image: url('../icon/globus.png');
    background-position: top;
    background-size: cover;
}
.costInfoContainer{
    font-family: 'Reenie Beanie', cursive;
    font-weight: bold;
    
}
.countAjustmentContainerComparer, .countAjustmentContainer, button{
    font-family: 'Alatsi', sans-serif;
}
.recipeContainer, .shoppingBagContainer, .choicedRecipeMenuNutritionalDecription h2{
    font-family: 'La Belle Aurore', cursive;
}
/*p {
    font-size:  calc(0.1rem + 1vw);
}*/
.navItemFirst{
    color: black;
    display: inline-flex;
}
.contactSocial{
    display: inline-block;
    text-align: center;
}
#contactSocialUlElement{
    display: inline-flex;
    gap: 20px;
}
.contentNagivation, .smallMiddleContactTab{
    display: grid;
    grid-template-columns: 1fr;
}
.navItemFirst, body, footer{
    min-width: 395px;
}
.productInformation{
    font-size: calc(0.09rem + 0.3vw);
}
.userInfoBlock{
    display: inline-flex;
    justify-content: flex-end;
    width: 240px;
    height: 90px;
    gap: 14px;
}
.userInfoBlock:first-child{
    align-self: flex-start;
}
@media (min-width: 935px) {
.contentHeader, .allFooterElement, .bigShopViewProductInfo, 
.foodInfoCategorySecondContainer, .choicedRecipeMenuNutritional,
.anotherProductInteresse, .discorveryQuestion{
    width: 70%;
}

.contentHeader{
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 100px;
    gap: 1px;
}
.logoImageHeader{
    grid-column: 1;
   }
.navSecondHeader{
    /*font-size: calc(0.1rem + 1vw);*/
    grid-column: 2;
    grid-row: 2;
}
.navFirstHeader{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 2fr 1fr;
    gap: 1px;
}
.allProductWindowContainer{
    display: grid;
    grid-template-columns: 2fr 5fr;
}
.moreInfoBox{
    background-image: url("../icon/schneidebrett.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 160px;
}
/*.navItemFirst li, .navProductList{
    font-size: 0.7em;
}*/
.recipeContainer, .companyName, 
.compareContainer label, .foodCategoryChoice label{
    font-size: 0.8em !important;
}
.navSecondHeader, 
.shoppingBagContainer label, 
.extraCostInfo label, p,
.footerDetailsInfo li, .ImpressumPrivacy li, button, .ulElement li{
    font-size: 0.5em;
}
.contentProductInfo{
    position: absolute;
    grid-row: 1;
    right: 9%;
    width: 4em;
}

.imageFooterUP{
    grid-row: 1;
    grid-column: 1;
}
.anotherProductInfoNext{
    right: 15%;
}
.footerDetailsInfo{
    grid-row: 2;
    grid-column: 1;
}
.ImpressumPrivacy{
    grid-row: 3;
    grid-column: 1;
}
/*.footerDetailsInfo li{
    font-size:  calc(0.1rem + 1vw);
}*/
.footerDetailsInfo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: auto;
    gap: 2px;
}
}

@media (min-width:641px) {
    .allContentInfoProduct{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .bigShopViewDetailsfContainer{
        grid-row: 1;
        grid-column: 2;
        gap: 4px;
    }
}
@media (max-width:640px) {
    .allContentInfoProduct{
        display: grid;
        grid-template-columns: 1fr;
    }
    .bigShopViewDetailsfContainer{
        grid-row: 2;
        grid-column: 1;
        gap: 4px;
    }
}
@media (max-width: 934px){
    .contentHeader, .allFooterElement, .bigShopViewProductInfo, 
.foodInfoCategorySecondContainer, .choicedRecipeMenuNutritional,
.anotherProductInteresse, .discorveryQuestion{
    width: 100%;
}
/*.userInfoBlock{
    display: inline-flex;
    gap: 10px;
}*/
.contactSocial{
    min-width: 150px;
    min-height: 39px;
}
.navFirstHeader{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 1fr;
    gap: 4px;
}
.navSecondHeader{
    /*font-size: calc(0.1rem + 1vw);*/
    grid-column: 1;
    grid-row: 2;
}
.recipeContainer, .companyName, 
.compareContainer label, .foodCategoryChoice label{
    font-size: 0.6em;
}
.navSecondHeader, 
.shoppingBagContainer label, 
.extraCostInfo label, p,
.footerDetailsInfo li, .ImpressumPrivacy li, button, .ulElement li{
    font-size: 0.3em;
}
.contentProductInfo{
    position: relative;
    grid-column: 1;
    grid-row: 5;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.moreInfoBox{
    background-image: url("../icon/schneidebrettOblig.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 160px;
    width: 310px;
}
.moreInfoBoxButton{
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
}
.allProductWindowContainer{
    display: grid;
    grid-template-columns: 4fr 5fr;
}
.moreInfoBoxTitel, .imageFooterUP, .userInfoBlock{
    grid-column: 1;
    grid-row: 1;
}

.costWeightContainer, .navItemFirst, .footerDetailsInfo{
    grid-column: 1;
    grid-row: 2;
}
.countAjustmentContainerComparer, .ImpressumPrivacy{
   grid-column: 1;
   grid-row: 3;
}
.countAjustmentContainer{
    grid-column: 1;
   grid-row: 4;
}
.center{
    width: 150px;  
}
.next, .anotherProductInfoNext{
    right: 0%;
}
.anotherProductInteresseImage{
    width: 100%;
}
.allFooterElement{
    display: flex;
    justify-content: center;
}
.footerDetailsInfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1px;
}
.contactSocial{
    min-width: 150px;
    min-height: 39px;
}
}

.ulElement li{
    display: inline-flex;
    gap: 5px;
    font-size: 1em;
}
@media (max-width: 575px) {
    
    .buttonWeight{
        height: 24px;
        width: 88px;
    }
    .buttonMoreInfo{
        height: 24px;
        width: 93px;
    }
    .anotherProductInfo{
        width: 20em;
        height: 20em;
    }
}
@media (min-width: 575px) and (max-width: 767px){
    .buttonWeight{
        height: 24px;
        width: 88px;
    }
    .buttonMoreInfo{
        height: 24px;
        width: 93px;
    }
    .anotherProductInfo{
        width: 12em;
        height: 12em;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .buttonWeight{
        height: 24px;
        width: 88px;
    }
    .buttonMoreInfo{
        height: 24px;
        width: 93px;
    }
    .anotherProductInfo{
        width: 15em;
        height: 15em;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .buttonWeight{
        height: 26px;
        width: 100px;
    }
    .buttonMoreInfo{
        height: 31px;
        width: 100px;
    }
    .anotherProductInfo{
        width: 15em;
        height: 15em;
    }

}
@media (min-width: 1200px) {
    .buttonWeight{
        height: 26px;
        width: 100px;
    }
    .buttonMoreInfo{
        height: 31px;
        width: 100px;
    }
    .anotherProductInfo{
        width: 15em;
        height: 15em;
    }
}

/*.footerDetailsInfo li{
    font-size: calc(0.5rem + 1vw);
}*/

.headContainer, .footerContainer, .bigShopViewContainer, 
.foodInfoCategoryContainer, .choicedRecipeMenuContainer,
.anotherProductInteresseContainer, .anotherProductInteresse, 
.discorveryQuestionContainer, .allProductTextDescription, 
.allProductDescriptionContainer, .allProductMenuObject,
.smallMiddleContactTab{
        display: flex;
        align-items: center;
        justify-content: center;
        /*font-size: calc(0.1em + 1vw);*/
    }
 .choicedRecipeMenuNutritionalContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footerContainer, .allFooterElement, .bigShopViewProductInfo, 
.bigShopViewContainer, .startFooterElement, .moreInfoBox{
    font-size: calc(0.1rem + 1vw);
}
/* body */
.headInfoProduct, .costWeightContainer, .NutritionalRow, 
.bigShopViewTitelProduct, .allProductMenuItems{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.headInfoProduct:first-child, .costWeightContainer:first-child, 
.NutritionalRow:first-child, .bigShopViewTitelProduct:first-child, .allProductMenuItems:first-child{
    align-self: flex-start;
}
.shoppingBagContainer, .bigShopViewTitelStatus, .countAjustment, .ajustmentButtonElement{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4px;
}
.compareContainer, .bagImage{
    display: inline-flex;
    justify-content: flex-end;
    gap:4px;
}
.compareContainer{
    align-items: center;
}
.bagImage{
    width: 47px;
    height: 47px;
    grid-column: 1;
    grid-row: 1/3;
}
.bigShopViewRabat, .bigShopViewDuration{
    background-color: rgb(161, 4, 4);
    border-radius: 2px;
}
.bigShopViewRabat{
    width: 60px;
    height: 24px;
}
.bigShopViewDuration{
    width: 30px;
    height: 24px;
}
.bigShopViewDuration, .bigShopViewRabat,
#minusID, #plusID,
.imageCompare, .buttonMoreInfo{
    color: white;
}
.bigShopViewDuration, .compareContainer .imageCompare{
    background-color: green;
    
}
.addToList, .imageCompare{

    align-items: center;
    justify-content: center;
}
.buttonMoreInfo{
    border-color: #f8a11f;
    border-radius: 4px;
}
.compareContainer #imageCompareVer, .buttonMoreInfo{
    background-color: #f8a11f;
}
.imageCompare{
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
}
#minusID, #plusID{
    background-color: gray;
}
.itemNumber{
    grid-column: 2;
    grid-row: 1;
}
.navProductList .allProductMenuObject{
    width: 95px;
    height: 27px;
}
.allProductMenuObject:hover, .allProductMenuItems:hover{
    color : #f8a11f;
    background-color: white;
    cursor: pointer;
}
.allProductWindowContainer{
    position: absolute;
    background-color: coral;
    z-index: 2;
    visibility: hidden;
}
.allProductMenuContainer{
    padding: 4px;
}
.allProductMenuObject, .navProductList,
.FixedCostClassContainer, .buttonWeightContainer,
.addToList, .imageCompare, #ulElementAnmelden{
    display: inline-flex;
    gap: 3px;
}
.allProductMenuObject p, .bigShopViewRabat, .bigShopViewDuration{
    text-align: center !important;
    margin: 0 !important;
}
.allProductDescription{
    width: 70%;
}
.allProductDescription h4{
    font-size: 70px;
}
.allProductMenuIcon{
    width: 14px;
    height: 14px;
}
.checkClass{
    grid-column: 2;
    grid-row: 2;
    color: green;
}
.bigShopViewImage{
    grid-row: 1;
    grid-column: 1;
}/*============================ Begin Slideshow =================================*/

.bigShopViewImage * {box-sizing: border-box}

#secondSlides, #thirdSlides{
    display: none;
}
.slideshow-container img {
    vertical-align: middle;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 38px;
  height: 49px;
  padding: 16px;
  margin-top: -22px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev, .next{font-size: 11px}

.prev:hover, .next:hover, .anotherProductInfoPrev:hover, .anotherProductInfoNext:hover {
  background-color: #f8a11f;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(175, 175, 175);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover, .smallMiddleContactTab:hover {
  background-color: #f8a11f;
}

.fadeSlide {
  -webkit-animation-name: fadeSlide;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeSlide;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeSlide {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fadeSlide {
  from {opacity: .4} 
  to {opacity: 1}
}

/*===========================   End Slideshow ==================================*/

.costWeightContainer{
    grid-column: 1;
    grid-row: 2;
    gap: 2px;
}
.oldCostClass{
text-decoration: line-through;
}
.weightChoiceTitel{
    text-align: right;
}
.buttonWeightContainer{
    justify-content: flex-end;
}


.countAjustmentContainer, .countAjustmentContainerComparer{
    display: flex;
    justify-content: flex-end;
}
.choicedRecipeMenuNutritionalButton{
    width: 4em;
}
.choicedRecipeMenuNutritionalContent, .navItemFirst{
    gap: 4px;
}
.choicedRecipeMenuNutritionalDecription, .navItemFirst{
    display: flex;
    align-self:flex-end;
}
.choicedRecipeMenuNutritionalDecription{
    font-weight: bold;
}
.contentProductInfo{
    z-index: 1;
    transform: rotate(-7deg);
}
.footerContainer:first-child{
    align-self: center;
}
.allFooterElement, .bigShopViewDetailsfContainer, 
.costInfoContainer, .weightChoice, .foodInfoCategorySecondContainer, 
.descriptionContainer, .bigShopViewDetails, .choicedRecipeMenuNutritional, 
.choicedRecipeMenuNutritionalMoreInfo, .moreInfoBox, .anotherProductInteresse,
.choicedRecipeMenuNutritionalTable, .allProductMenuContainer{
    display: grid;
    grid-template-columns: 1fr;
}
.discorveryQuestion{
    display: grid;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d"
                         "e";
    grid-template-columns: 1fr;
    text-align: center;
    height: 150px;
}
.discorveryQuestionTitel{
    grid-area: c;
}
.discorveryButton{
    grid-area: d;
}
.descriptionContainer{
    padding-top: 5%;
    text-align: center;
}
.foodInfoCategorySecondContainer, .productInformation{
    gap: 2px;
}
.recipeContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    text-align: center;
}
.nameNutritional{
    text-align: left;
}
.valueNutritional{
    text-align: right;
    
}
.NutritionalRow{
    border-bottom-style: groove;
}
.anotherProductInteresse, .allProductTextDescription{
    text-align: center;
}

/*===========================   End Slideshow ==================================*/

#anotherProductInteresseSlideContainer a, .anotherProductInfo{
    
    border-color: gray;
    box-shadow: 0 0 0.2em gray;
}

#anotherProductInteresseSlideContainer{
    height: 98%;
    width: 98%;
    overflow:auto;
	white-space:nowrap;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow: -moz-scrollbars-none;
}
.anotherProductInfo{
    gap: 1em;
    white-space:nowrap;
    text-align: left;
    box-shadow: 6px gray;
}


.anotherProductInfoPrev, .anotherProductInfoNext {
    cursor: pointer;
    position: absolute;
    color: grey;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 38px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.anotherProductInfoPrev{
    margin: -13px;
}
.anotherProductInteresseImage{

    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
}
#anotherProductInteresseSlideContainer::-webkit-scrollbar{
    display: none;
    width: 0;
    height: 0;
}
.anotherProductImage{
    height: 60%;
    font-size: 5px;

}
.productInformation{
    font-size: 0.05em;
    padding-left: 2px;
}
/*===========================   End Slideshow ==================================*/
.smallMiddleContactTabContainer{
    position: fixed !important;
    left: 4px;
    top: 70%;
}
.smallMiddleContactTab{
    cursor: pointer;
    background-color: rgb(80, 80, 80);
    color: white;
    width: 25px;
    height: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.smallMiddleContactTab:hover{
    color: rgb(80, 80, 80);
}

.startFooterElement, .imageFooterUP, .downImageArrow{
    display: grid;
    align-content: center;
    justify-content: center;
  
}
.startFooterElement{ /*.anotherProductInteresseContainer*/
    height: 250px;
}
.startFooterMediaContainer{
    min-width: 165px;
}
.SocialMediaContainer, .foodCategoryChoice{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.footerImageContainer, .titelMedia, .discorveryButton{
    display: flex;
    justify-content: center;
}
.footerUL h4{
    font-weight: bold;
}
.endFooterElement, .productInformation{
    display: grid;
    grid-template-columns: 1fr;
}

.ImpressumPrivacy{
    display: flex;
    justify-content: flex-end;
}
#FixedCostLabelID{
    color: red;
    font-size: 2em !important;
}




